.container {
  max-width: 1700px;
  margin: auto;
  padding: 20px 20px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px 15px 20px;
    background-color: #86C232;
    border-radius: 15px;
  }
  
  .searchBarBack{
    display: flex;
    justify-content: flex-start;
    width: 550px;
    padding: 10px;
  }
  
  .searchBar{
    width: 100%;
    max-width: 400px;
    padding: 10px;
    font-size: 12px;
    border-radius: 20px;
    border: 2px solid bisque;
  }
  
  .homeButton{
    display: flex;
    align-items: center;
    width: 150px;
    border-radius: 25px;
  }
  
  .icons{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 20px;
  }
  
  .position-relative {
    position: relative;
  }
  
  .badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 50%;
    font-weight: bold;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  }

  .card-img-top {
    border-bottom: 1px solid #eee;
  }
  
  .thumb-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    cursor: pointer;
    border: 1px solid #ccc;
  }
  
  .main-image-container {
    width: 100%;
    height: 350px;
    overflow: hidden;
    position: relative;
  }
  
  .zoomable-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.2s ease;
  }
  
  .zoomable-image.zoomed {
    transform: scale(2);
    transform-origin: center;
    cursor: zoom-in;
  }